#morpion {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.croix {
    background-color: lightblue;
}

.rond {
    background-color: blanchedalmond;
}

.column {
    padding: 2px;
}

.column:hover {
    background: lightcyan;
    color: grey;
}