#morpion {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}


.croix {
    background-color: lightblue;
}

.rond {
    background-color: blanchedalmond;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.field{
    height: 100%;
    width: 100%;
    text-align: center;
}
.field:hover {
    background: lightcyan;
    color: grey;
}